<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Forex lot Calculator">
    <meta name="author" content="BlackdiceMs">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <main id="app">
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <span class="fs-4">XAUUSD Calculator</span>
            </header>

            <div class="row align-items-md-stretch">
                <div class="col-md-4">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <form>
                            <div class="mb-3">
                                <label for="input_balance" class="form-label">Symbol</label>
                                <select class="form-select" v-model="input_symbol">
                                    <option value="xauusd">XAUUSD</option>
                                    <option value="eurusd">EURUSD</option>
                                    <option value="usdjpy">USDJPY</option>
                                  </select>
                            </div>
                            <div class="mb-3">
                                <label for="input_balance" class="form-label">Balance ($)</label>
                                <input type="number" v-model="input_balance" @change="input_balance_change" class="form-control" id="input_balance" placeholder="$">
                            </div>
                            <div class="mb-3">
                                <label for="input_risk" class="form-label">Risk (%)</label>
                                <input type="number" v-model="input_risk" @change="input_risk_change" class="form-control" id="input_risk" placeholder="%" min="1" max="100">
                            </div>
                            <div class="mb-3">
                                <label for="input_open_price" class="form-label">Entry Price</label>
                                <input type="number" v-model="input_open_price" @change="input_open_price_change" class="form-control" id="input_open_price" step=".01">
                            </div>
                            <div class="mb-3">
                                <label for="input_stop_lost_price" class="form-label">Stop Lost Price</label>
                                <input type="number" v-model="input_stop_lost_price" @change="input_stop_lost_price_change" class="form-control" id="input_stop_lost_price" step=".01">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <form>
                            <div class="mb-3">
                                <label for="pipette_value" class="form-label">Pipette</label>
                                <input type="number" v-model="pipette_value" class="form-control" id="pipette_value" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="lost_cost_value" class="form-label">Lost Cost</label>
                                <input type="number" v-model="lost_cost_value" class="form-control" id="lost_cost_value" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="recommend_lot_value" class="form-label">Recommend Lot</label>
                                <input type="number" v-model="recommend_lot_value" class="form-control" id="recommend_lot_value" disabled>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-4">
                    <a href="https://one.exness-track.com/intl/en/a/ictwhe4f4e">
                        <img src="https://d3dpet1g0ty5ed.cloudfront.net/EN_1221_Lower_your_trading_20costs_20with_20_1200x1500px.jpg" class="img-fluid" alt="" />
                    </a>
                </div>

            </div>
        </div>
    </main>
    <script src="main.js"></script>
</body>

</html>